{% extends "base.html" %}

{% block content %}
<div class="about-card">
    <h1 class="about-title">Project Information</h1>
    <h3 class="version">Library Managment System</h3>
    
    <div class="dev-section">
        <p>Developed by the students of:</p>
        <h4 class="college-name">Guru Daksh Government Polytechnic, Hisar</h4>
    </div>

    <div class="team-list">
        <div class="member"><b>Manpreet</b> (008)</div>
        <div class="member"><b>Sakshi</b> (106)</div>
        <div class="member"><b>Pinku</b> (083)</div>
    </div>
</div>
{% endblock %}